<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmnesiaBox</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body data-bs-theme="dark">
    {{template "header.html" .}}
    <main class="d-flex justify-content-center mt-5 p-2">
        <div>
            <div class="d-flex">
                <h1 class="display-6 fw-semibold">This is an instance of AmnesiaBox</h1>
            </div>
            <p>Host your temp static site and files easily and anonymously!</p>
            <form class="mt-3 mb-3 form-control" action="/upload" method="POST" enctype="multipart/form-data">
                <label for="file">Site source (.zip). Max size:{{.sizelimit}} bytes:</label>
                <input class="form-control" accept=".zip" name="file" type="file">
                <label for="name">Name (max 50 characters and ascii only):</label>
                <input class="form-control" name="name">
                {{if .open}}
                    {{if eq .disablecaptcha false}}
                        <img src="/captcha/{{.captcha}}.png"><br>
                        <label for="captcha">Solve captcha:</label>
                        <input class="form-control" name="captcha">
                        <input style="display: none;" name="captchaid" value="{{.captcha}}">
                    {{end}}

                    <button class="mt-1 btn btn-primary">Upload</button>
                {{else}}
                    <label for="password">Password:</label>
                    <input class="form-control" name="password" type="password">

                    {{if eq .disablecaptcha false}}
                        <img src="/captcha/{{.captcha}}.png"><br>
                        <label for="captcha">Solve captcha:</label>
                        <input class="form-control" name="captcha">
                        <input style="display: none;" name="captchaid" value="{{.captcha}}">
                    {{end}}
                    
                    <button class="mt-1 btn btn-primary">Upload</button>
                {{end}}
            </form>

            <form class="form-control" action="/login" method="POST">
                <label for="key">Key:</label>
                <input class="form-control" type="password" name="key">

                {{if eq .disablecaptcha false}}
                    <img src="/captcha/{{.captcha}}.png"><br>
                    <label for="captcha">Solve captcha:</label>
                    <input class="form-control" name="captcha">
                    <input style="display: none;" name="captchaid" value="{{.captcha}}">
                {{end}}

                <button class="mt-1 btn btn-primary">Login</button>
            </form>
            
            {{if eq .hidehosted false}}
                <div class="border border-radius rounded mt-4 p-2">
                    <b>Hosted sites:</b><br>
                    {{range .sites}}
                        <a href="/sites/{{.}}">{{.}}</a><br>
                    {{end}}
                </div>
            {{end}}
        </div>
    </main>
</body>
</html>