<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Too big</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body data-bs-theme="dark">
    {{template "header.html" .}}
    <div class="d-flex justify-content-center mt-5 p-2">
        <div>
            <h2 class="text-danger">The file you were trying to upload is too big!</h2>
            <a href="/" class="btn btn-outline-danger">return home</a>
        </div>
    </div>
</body>
</html>